<section class="delivery max-w-6xl mx-auto px-2 py-4 mt-2">
    <h2 class="font-bold text-6xl mb-8 border-t-4 border-solid border-sky-300 pt-2 text-center">Доставка та оплата</h2>
    <div class="delivery__about flex mb-6 flex-wrap justify-center lg:flex-nowrap">
        <div class="delivery__green flex">
            <div class="delivery__img-inner flex flex-col justify-center">
                <img class="delivery__img" src="../../../assets/images/mn-delivery-img.svg" alt="">
            </div>
            <div class="delivery__content mb-2 text-center">
                <h4 class="text-2xl leading-normal text-green-400 font-bold text-center mb-2">Зелена зона</h4>
                <p class="text-lg leading-normal mb-2">В межах зеленої зони ми доставляємо протягом <span class="text-green-400 font-bold">1 год.</span></p>
                <p class="text-lg leading-normal mb-2">Мінімальна сума замовлення в цю зону становить <span class="text-green-400 font-bold">300 грн</span></p>
            </div>
        </div>
        <div class="delivery__yellow flex">
            <div class="delivery__img-inner flex flex-col justify-center">
                <img class="delivery__img" src="../../../assets/images/mn-delivery-img.svg" alt="">
            </div>
            <div class="delivery__content mb-2 text-center">
                <h4 class="text-2xl leading-normal text-yellow-400 font-bold mb-2">Жовта зона</h4>
                <p class="text-lg leading-normal mb-2">В межах жовтої зони ми доставляємо протягом 1.5 год. <span class="text-yellow-400 font-bold">1.5 год.</span></p>
                <p class="text-lg leading-normal mb-2">Мінімальна сума замовлення в цю зону становить <span class="text-yellow-400 font-bold">400 грн</span></p>
            </div>
        </div>
    </div>
</section>    

<section class="map max-w-6xl mx-auto p-2 mb-8">
    <div class="map__inner flex justify-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10298.978624331898!2d24.002795!3d49.809668!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae79446c147d1%3A0xb18b9c610bfcf632!2z0LLRg9C70LjRhtGPINCS0L7Qu9C-0LTQuNC80LjRgNCwINCS0LXQu9C40LrQvtCz0L4sIDEwINCyLCDQm9GM0LLRltCyLCDQm9GM0LLRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDc5MDAw!5e0!3m2!1suk!2sua!4v1678279253977!5m2!1suk!2sua" width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>        
</section>

<section class="delivery__about max-w-4xl mx-auto p-2 mb-6">
    <p class="text-lg leading-normal mb-2">Команда «Monosushi» пропонує надзвичайно зручну систему доставки та оплати. Чіткість наших стандартів роботи забезпечує швидке і якісне виконання замовлень для наших гостей.</p>        
    <p class="text-lg leading-normal mb-2">Ми поділили Львів на умовні зони доставки – зелену та жовту. Для кожної зони ми чітко визначаємо час доставки.</p>
    <p class="text-lg leading-normal mb-2">Зелена зона доставки знаходиться ближче до нашої кухні, тому замовлення в цю зону доставляються – до 1 год. В жовту зону, яка знаходиться значно далі – до 1,5 год.</p>
</section>

<section class="paymant max-w-4xl mx-auto p-2">
    <h2 class="font-bold text-4xl mb-8 pt-2 text-center">Оплата</h2>
    <div class="paymant__inner flex flex-wrap mb-6 justify-center lg:flex-nowrap">
        <div class="paymant__cash flex items-center">
            <div class="paymant__img-inner flex flex-col justify-center bg-sky-300 p-2 rounded mr-4">
                <img class="paymant__img" src="../../../assets/images/pay-info-img-1.svg" alt="">
            </div>
            <div class="delivery__content mb-4">
                <h4 class="text-2xl leading-normal font-bold mb-2">Оплата готівкою</h4>
                <p class="text-lg leading-normal mb-2">Розраховуйтесь за свої улюблені сушики готівкою при отриманні.</p>                    
            </div>
        </div>
        <div class="paymant__noncash flex items-center">
            <div class="paymant__img-inner flex flex-col justify-center bg-sky-300 p-2 rounded mr-4">
                <img class="paymant__img" src="../../../assets/images/pay-info-img-3.svg" alt="">
            </div>
            <div class="delivery__content mb-4">
                <h4 class="text-2xl leading-normal font-bold mb-2">Оплата готівкою</h4>
                <p class="text-lg leading-normal mb-2">Розраховуйтесь за свої улюблені сушики готівкою при отриманні.</p>                    
            </div>
        </div>
    </div>
    <p class="text-lg leading-normal mb-4">Ми пропонуємо Вам 3 найпоширеніші варіанти для розрахунку: готівка, оплата онлайн або ж розрахунок карткою.</p>        
    <p class="text-lg leading-normal mb-4">Просто позначте найбільш зручний для Вас спосіб оплати при оформленні замовлення на сайті або ж повідомте про це оператора по телефону.</p>
    <p class="text-lg leading-normal mb-4">Доставка «Моносуші» – це чіткі стандарти роботи, високий рівень сервісу та турбота про кожного гостя. Ми щодня розвиваємось, щоб почути лише три слова «Моносуші – це любов».</p>        
</section>